@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  /* --font-sans: "Geist Variable", sans-serif; */
  --font-sans: var(--font-kaniga), "Geist Variable", sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--fd-grey);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-muted-foreground: var(--fd-grey);
  --color-muted: var(--fd-beige);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--fd-red);

  /* it was actually named `secondary` in the design but we use it the most  */
  --color-primary: var(--fd-pink);
  --color-primary-foreground: var(--fd-white);

  --color-popover: var(--fd-white);
  --color-popover-foreground: var(--fd-black);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);

  --color-foreground: var(--fd-black);
  --color-background: var(--fd-white);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --color-fd-red: var(--fd-red);
  /* สีแดง primary ใน figma */
  --color-fd-lightpink: var(--fd-lightpink);

  --font-kaniga: "TEPC KaniGa";
}

:root {
  /* background */
  --fd-white: #fdfaf3;

  /* text */
  --fd-black: #200b0f;

  /* muted */
  --fd-beige: #faefd1;
  --fd-red: #aa1d40;
  --fd-pink: #e36a89;
  --fd-lightpink: #f8c4d1;
  --fd-grey: #a1a1a1;

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --accent: oklch(94.699% 0.01548 86.4);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);

  --radius: 0.5rem;

  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.87 0 0);
  --chart-2: oklch(0.556 0 0);
  --chart-3: oklch(0.439 0 0);
  --chart-4: oklch(0.371 0 0);
  --chart-5: oklch(0.269 0 0);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}

@font-face {
  font-family: "TEPC KaniGa";
  src: url("../assets/fonts/kaniga.ttf");
  font-weight: 400;
  font-display: swap;
  size-adjust: 140%;
}

@font-face {
  font-family: "TEPC KaniGa";
  src: url("../assets/fonts/kaniga_bold.ttf");
  font-weight: 700;
  font-display: swap;
  size-adjust: 140%;
}

@font-face {
  font-family: "TEPC KaniGa";
  src: url("../assets/fonts/kaniga_bold_italic.ttf");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  size-adjust: 140%;
}

@font-face {
  font-family: "TEPC KaniGa";
  src: url("../assets/fonts/kaniga_italic.ttf");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  size-adjust: 140%;
}
