---
import InformationPanel from "@components/home/information/InformationPanel";
---

<div class="pt-12 pb-6 px-4 flex flex-col gap-8">
  <!-- TODO: ID Card for participant or Scan Button for staff -->

  <InformationPanel />
</div>
