---
import InformationPanel from "@components/home/information/InformationPanel.astro";
---

<div class="w-full pt-12 pb-6 px-4 flex flex-col gap-8">
  <!-- TODO: ID Card for participant or Scan Button for staff -->

  <!-- Information -->
  <InformationPanel />
</div>
