---
import Calendar from "@components/home/information/calendar/Calendar";
import Map from "@components/home/information/map/Map";
---

<div class="flex flex-col gap-8">
  <!-- TODO: i18n -->
  <h2 class="text-2xl font-bold text-primary pb-4">ข้อมูลภายในงาน</h2>
  <Map />
  <Calendar />
</div>
