---
import Calendar from "@components/home/information/calendar/Calendar";
import Map from "@components/home/information/map/Map";
import { buttonVariants } from "@components/ui/button";
import { cn } from "@lib/utils";
---

<div class="w-full flex flex-col items-center gap-8">
  <!-- TODO: i18n -->
  <h2 class="w-full text-2xl font-bold text-primary pb-4 text-start">
    ข้อมูลภายในงาน
  </h2>
  <Map />
  <Calendar />

  <!-- TODO: i18n -->
  <a
    href="/emergency"
    class={cn(
      buttonVariants({ variant: "primaryOutline", size: "lg" }),
      "w-fit px-6 py-4 bg-(--color-background)",
    )}
  >
    ติดต่อฉุกเฉิน
  </a>
</div>
