---
import MapAndLocator from "./MapAndLocator";
---

<div class="pt-12 pb-6 px-4 flex flex-col gap-8">
  <!-- TODO: i18n -->
  <h1 class="text-3xl text-center text-primary whitespace-pre-line">
    {"งาน First Date\nมีอะไรบ้าง"}
  </h1>

  <MapAndLocator client:load />
</div>
