---
import "@styles/global.css";
import FontPreload from "../components/FontPreload.astro";

type Props = {
  title: string;
  description?: string;
};
const { title, description = "firstdate 2026 frontend application" } =
  Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>

    <!-- font preloading -->
    <FontPreload />
  </head>
  <body class="min-h-screen bg-primary text-foreground font-sans">
    <main
      class="min-h-screen sm:max-w-112 sm:mx-auto sm:my-6 grid place-items-center"
    >
      <slot />
    </main>
  </body>
</html>
