---
import "@styles/global.css";
import { appConfig } from "@lib/env";
import { AuthGuard } from "@components/shared/AuthGuard";
import { Toaster } from "@components/ui/sonner";

type Props = {
  title: string;
  description?: string;
};
const { title, description = "firstdate 2026 frontend application" } =
  Astro.props;
---

<!doctype html>
<html lang="en" translate="no">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-primary text-foreground font-sans">
    <AuthGuard client:load pathname={Astro.url.pathname} />
    <Toaster client:load />
    <main class="min-h-screen xs:max-w-md xs:mx-auto grid place-items-center">
      <slot />
    </main>
    <script is:inline define:vars={{ redirectAt: appConfig.redirectAt }}>
      const userAgent = navigator.userAgent;
      if (/Line\//.test(userAgent)) {
        const url = new URL(location.href);
        url.searchParams.append("openExternalBrowser", "1");
        location.href = url.toString();
      }

      const isRedirectPage =
        location.pathname.replace(/\/+$/, "") === "/redirect";
      if (Date.now() >= redirectAt && !isRedirectPage) {
        location.replace("/redirect");
      } else if (Date.now() < redirectAt && isRedirectPage) {
        location.replace("/");
      }
    </script>
  </body>
</html>
